input[type=text], select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.all-authors {
    border: 2px solid black;
    width: 300px;
}

.all-authors p {
    margin-left: 10px;
    padding: 2px;
}

.add-book {
    margin-top: 10px;
}

.add-book a {
    background-color: white;
    border: 1px solid black;
    padding: 5px 8px;
}

