<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="text-center">Welcome {{logged_in_user.first_name}}</h1>
    </header>
    <div class="nav">
        <p>All posted Recipes:</p>
        <a class="create" href="/add/recipe">+Create</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>
    <div class="flexbox-container">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Under</th>
                    <th>Posted By</th>
                    <th class="act">Actions</th>
                </tr>
            </thead>
            {% for recipe in recipes  %}
                <tr>
                    <td>{{ recipe['name'] }}</td>
                    <td>{{ recipe['under'] }}</td>
                    <td>{{ recipe.creator.first_name }}</td>
                    <td class="act">
                        <a href="/view/recipe/{{ recipe['id'] }}">view recipie</a>
                        <span>|</span>
                        {% if recipe.creator.id == logged_in_user.id %}
                        <a href="/edit/recipe/{{ recipe['id'] }}">edit</a>
                        <span>|</span>
                        <a href="/delete/recipe/{{ recipe['id'] }}">delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>