<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe-details.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="head-nav">
        <h1 class="text-center">Welcome {{logged_in_user.first_name}}</h1>
        <a class="dash" href="/dashboard">back to recipes</a>
        <a href="/logout">logout</a>
    </div>
    <div class="nav">
        <h2>{{recipe.name}}</h2>
        <h4>Posted by: {{recipe.creator.first_name}}</h4>
    </div>
    <div class="flex-container">
        <div class="box">
            <div class="one">
                <p>Description:</p>
            </div>
            <div class="two">
                <p>{{recipe.description}}</p>
            </div>
        </div>
        <div class="box">
            <div class="one">
                <p>Under 30 Minutes:</p>
            </div>
            <div class="two">
                <p class="under">{{recipe.under}}</p>
            </div>
        </div>
        <div class="box">
            <div class="one">
                <p>Instructions:</p>
            </div>
            <div class="two">
                <p class="instructions">{{recipe.instructions}}</p>
            </div>
        </div>
        <div class="box">
            <div class="one">
                <p>Date Made:</p>
            </div>
            <div class="two">
                <p class="date-time">{{recipe.date_made}}</p>
            </div>
        </div>
    </div>



</body>
</html>