<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>New Cookie</title>
</head>
<body>
    <div class="flexbox-container">
        <div clas="flex-item-1">
            <form action="/create/order" method="post" class="new-form">
                {% with messages=get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red;">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="name">Name:</label>
                <input type="text" name="name">

                <label for="cookie_type">Cookie Type:</label>
                <input type="text" name="cookie_type">

                <label for="num_of_boxes">Number of Boxes:</label>
                <input type="text" name="num_of_boxes">

                <div class="log-button">
                    <input type="submit" value="Log">
                </div>
            </form>
        </div>
    </div>
</body>
</html>