<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
</head>
<body>
    <div>
        <div>
            <h1>New Ninja</h1>
        </div>
        <div>
            <form action="/ninjas/create" method="post">
                <div>
                    <label for="dojo">Dojo:</label>
                    <select name="dojo_id">
                        {% for dojo in all_dojos %}
                        <option value="{{ dojo['id'] }}">{{ dojo['name']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    {# <!-- <input type="hidden" name="dojo_id" value="{{ dojo['id'] }}"> --> #}
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                    <label for="age">Age:</label>
                    <input type="text" name="age">
                    <button type="submit" value="Add Nina">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>